.box {
    width: 200px;
    height: 200px;
    background-color: aqua;
    transition: all 300ms;
}

.box:hover {
    background-color: blueviolet;
    cursor: pointer;
    width: 100px;
    height: 100px;

}